/* Globals navbar and footer */
:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #F9F9F9;
  --dark-blue: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --bgDark: #001529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--dark-blue) !important;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.navbar {
  flex: 0.2;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 21, 41);
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

.nav-container {
  display: flex;
  width: 100%;
  background-color: var(--bgSecondary);
}

.logo-container {
  background-color: var(--bgDark);
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 0px 0.3rem 1rem !important;
}

.logo a {
  color: white;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--bgDark);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

/* Home page */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

/* News page */
.select-news {
  width: 180px;
}

.news-card {
  min-height: 300px !important;
}

.news-card,
.news-card .ant-card-body,
.news-link {
  height: 100%;
}

.news-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-title {
  width: 70%;
}

.news-image-container .img {
  width:100px;
  height:100px;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

/* Cryptocurrencies page */
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width:35px;
}

/* Responsiveness */
@media screen and (max-width: 1050px) {
  .nav-container {
    height: 6vh;
    width: 100%;
    background-color: var(--bgSecondary);
  }

  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-left: 0px;
    margin-right: 10px;
  }

  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 600px) {
  .logo-container .logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}